.drawCubesButton {
    padding: 5px;
    background-color: whitesmoke;
    border: 3px solid var(--slate);
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    width: 250px;
}

.drawCubesButton:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.drawCubesText {
    font-weight: 800;
}