.App {
  text-align: center;
  background: var(--app-background);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.App-title {
  color: var(--slate);
  font-size: 40px;
  font-weight: 900;
}
