.App {
  text-align: center;
  background: var(--app-background);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-title {
  color: var(--slate);
  font-size: 40px;
  font-weight: 900;
}
